@import url("https://fonts.googleapis.com/css2?family=Monoton&family=Quicksand:wght@500;700&display=swap");

/* 
Primary: #3498db (Medium Blue)
Accent 1: #85c1e9 (Light Sky Blue)
Accent 2: #ecf0f1 (Light Grayish Blue)
Accent 3: #1f618d (Dark Blue)

Primary: #2980b9 (Deep Blue)
Accent 1: #a9cce3 (Light Blue)
Accent 2: #2e86c1 (Rich Blue)
Accent 3: #bfc9ca (Silver Blue)

Primary: #4a90e2 (Dodger Blue)
Accent 1: #aed6f1 (Baby Blue)
Accent 2: #81cfe0 (Sky Blue)
Accent 3: #34495e (Dark Slate Blue)

Soft Yellow (#fff68f):
Mint Green (#a1e58c):
Peach or Coral (#ffcc99):
                #e5771f
                #76c7ad

*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 2.4rem;
  font-family: sans-serif;
  color: #5a3e2b;
  font-family: "Quicksand";
  font-weight: 500;
}

.app {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-rows: auto auto 1fr auto;
}

h1 {
  text-align: center;
  background-color: #7fbfe9;
  font-family: "Monoton";
  font-size: 8rem;
  text-transform: uppercase;
  font-weight: 500;
  word-spacing: 30px;
  letter-spacing: 2px;
  padding: 2.4rem 0;
}

.add-form {
  background-color: #3498db;
  padding: 2.8rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
}

h3 {
  margin-right: 1.6rem;
  font-size: 2.4rem;
}

button,
select,
input {
  background-color: #ecf0f1;
  color: #5a3e2b;
  font-family: inherit;
  border: none;
  border-radius: 10rem;
  padding: 1.2rem 3.2rem;
  font-weight: 700;
  font-size: 1.8rem;
  cursor: pointer;
}

.add-form button {
  text-transform: uppercase;
  background-color: #a1e58c;
}

.list {
  background-color: #3d78bb;
  color: #e2eff2;
  padding: 4rem 0;

  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 3.2rem;
  align-items: center;
}

.actions button,
.list select {
  text-transform: uppercase;
  padding: 0.8rem 2.4rem;
  font-size: 1.4rem;
  font-weight: 700;
  margin: 0 0.8rem;
}

.list ul {
  list-style: none;
  width: 80%;
  overflow: hidden;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.2rem;
  justify-content: center;
  align-content: start;
  align-items: center;
}

.list li {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
}

input[type="checkbox"] {
  height: 2rem;
  width: 2rem;
  accent-color: #a1e58c;
}

.list li button {
  cursor: pointer;
  background: none;
  border: none;
  font-size: 1.8rem;
  padding: 0.8rem;
  transform: translateY(2px);
}

.stats {
  background-color: #ffb974;
  text-align: center;
  font-weight: 700;
  padding: 3.2rem 0;
  transition: all 0.3s;
}
.done {
  background-color: #a1e58c;
  transition: all 0.3s;
}
